STACK_NAME=portable-media-stack
TZ=UTC
PUID=1000
PGID=1000
MODE=tailnet-only
INSTALL_TRAEFIK=true
ENABLE_SABNZBD=true
ENABLE_NZBDAV=false
ENABLE_SEERR=true
ENABLE_JELLYFIN_INTEL_GPU=false
ENABLE_PUBLIC_HOSTNAMES=false
PUBLIC_DOMAIN=myallbox.com
DEVICE_NAME=ethan
TRAEFIK_EXPOSE_ADMIN_APPS=false
AUTO_CONFIGURE_FUNNEL=false
FUNNEL_USE_PATHS=true
FUNNEL_RADARR=true
FUNNEL_SONARR=true
FUNNEL_JELLYFIN=false
FUNNEL_SEERR=true
FUNNEL_RADARR_PUBLIC_PORT=443
FUNNEL_SONARR_PUBLIC_PORT=443
FUNNEL_JELLYFIN_PUBLIC_PORT=10000
FUNNEL_SEERR_PUBLIC_PORT=443
FUNNEL_RADARR_PATH=/radarr
FUNNEL_SONARR_PATH=/sonarr
FUNNEL_JELLYFIN_PATH=/jellyfin
FUNNEL_SEERR_PATH=/seerr
PROXY_NETWORK=proxy
MEDIA_NETWORK=media
EGRESS_NETWORK=egress
CONFIG_ROOT=./config
AUTO_APPLY_BOOTSTRAP_DATA=false
BOOTSTRAP_DATA_FILE=${HOME}/.local/share/portable-media-stack/bootstrap-data/latest-bootstrap-data.json
BOOTSTRAP_LIBRARY_DIR=${HOME}/.local/share/portable-media-stack/bootstrap-data
BOOTSTRAP_WAIT_SECONDS=180
TRAEFIK_CONFIG_DIR=${CONFIG_ROOT}/traefik
TRAEFIK_ACME_FILE=${TRAEFIK_CONFIG_DIR}/acme.json
TRAEFIK_FUNNEL_CONFIG_DIR=${CONFIG_ROOT}/traefik-funnel
DOWNLOADS_PATH=/srv/downloads
MOVIES_PATH=/srv/media/movies
TV_PATH=/srv/media/tv
JELLYFIN_CONFIG=${CONFIG_ROOT}/jellyfin
RADARR_CONFIG=${CONFIG_ROOT}/radarr
SONARR_CONFIG=${CONFIG_ROOT}/sonarr
PROWLARR_CONFIG=${CONFIG_ROOT}/prowlarr
SABNZBD_CONFIG=${CONFIG_ROOT}/sabnzbd
NZBDAV_CONFIG=${CONFIG_ROOT}/nzbdav
SEERR_CONFIG=${CONFIG_ROOT}/seerr
SEERR_WEB_CONFIG=${CONFIG_ROOT}/seerr-web/nginx.conf
TARGET_NZBDAV_COMPLETED_DOWNLOADS_DIR=/downloads/nzbdav-completed
NZBDAV_COMPLETED_CATEGORIES=movies,tv,audio,software
JELLYFIN_PORT=8096
RADARR_PORT=7878
SONARR_PORT=8989
PROWLARR_PORT=9696
SABNZBD_PORT=8080
NZBDAV_PORT=3000
SEERR_PORT=5055
FUNNEL_SEERR_FALLBACK=true
FUNNEL_SEERR_FALLBACK_PUBLIC_PORT=10000
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_FUNNEL_PORT=8088
TRAEFIK_CERTRESOLVER=letsencrypt
TRAEFIK_ACME_CHALLENGE=http
JELLYFIN_HOST=jellyfin.tailnet.example
RADARR_HOST=radarr.tailnet.example
SONARR_HOST=sonarr.tailnet.example
PROWLARR_HOST=prowlarr.tailnet.example
SABNZBD_HOST=sabnzbd.tailnet.example
NZBDAV_HOST=nzbdav.tailnet.example
SEERR_HOST=seerr.tailnet.example
TRAEFIK_DASHBOARD_HOST=traefik.tailnet.example
TRAEFIK_ACME_EMAIL=admin@example.com
CLOUDFLARE_DNS_API_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=
TAILSCALE_REQUIRED=true
